.blogItemsMain{
    padding: 10px;
}
.blogItemContainer {
}

.bIContainer{
    overflow: hidden;
    border-radius: 10px;
    height: -webkit-fill-available;
    max-height: 250px;
}

.bIContainer img {
    width: 100%
}